html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
}

h2 {
    margin: 0;
}

.title {
    text-align: center;
    font-size: 40px;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.journal {
    display: flex;
    border-top: 4px solid;
    height: 100%;
}

.names {
    flex-basis: 30%;
    border-right: 4px solid;
    padding-top: 4px;
    margin: 0;
}

.names > li {
    font-size: xx-large;
    margin-block-start: 12px;
    border: solid 2px transparent;
    padding: 16px 1vw 16px 1.5vw;
}

.names > li:hover {
    background-color: rgb(252, 214, 220);
}

.names > .selected {
    border-top: solid 2px !important;
    border-bottom: solid 2px !important;
    background-color: lightpink;
}

.entries {
    flex-grow: 1;
    padding: 4px 1vw 4px 1vw;
}

.entries > li:hover {
    background-color: gainsboro;
}

.hbox {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.entry {
    flex: 1;
    padding: 0 0 0 0;
}

.play-button {
    border: solid;
    padding: 10px 20px;
    margin: 4px;
    background-color: lightpink;
}

.play-button:hover {
    background-color: pink;
}

.entry-body {
    margin: 4px 0 16px 0;
}

ul {
    list-style: none;
    padding-left: 0px;
}