body {
    background-color: darkslategray;
    color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    font-size: 40px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.journal {
    display: flex;
    border-top: 4px solid;
}

.names {
    flex-basis: 30%;
    border-right: 4px solid;
    margin: 0;
}

.names > li {
    font-size: xx-large;
    margin-block-start: 12px;
    border: solid transparent;
    padding-left: 10px;
}

.entries {
    flex-grow: 1;
    padding: 4px;
}

.selected {
    border: solid !important;
    padding-left: 10px
}

h2 {
    margin: 0;
}

.hbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-button {
    border: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    list-style: none;
    padding-left: 0px;
}